<div class="col-box col-box-author">
  <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
  <div class="col-box-title name">{{ site.author }}</div>
  <p>{{ site.profile }}</p>
  <p class="contact">
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    <a href="javascript:document.write('payloads'+'@'+'aliyun.com');">Email</a>
    {% for link in site.profile_links %}
    <a href="{{ link | last }}">{{ link | first }}</a>
    {% endfor %}
  </p>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","tsina","bdysc","weixin","tqq","douban","sqq","youdao","mail","fbook","twi","linkedin","evernotecn","copy","print"],"bdPic":"","bdStyle":"1","bdSize":"16"},"slide":{"type":"slide","bdImg":"8","bdPos":"right","bdTop":"29"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>



    <div class="col-box post-toc hide" style="text-align: left;">
      <div class="col-box-title" style="text-align: center;">TOC</div>
    </div>

</div>