<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="col-main">
          {{ content }}
        </div>
        <div class="col-second">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}
<script type="text/javascript" src="/js/lightbox-plus-jquery.min.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
  </body>

</html>
